In [10]:
import pandas as pd

In [11]:
#read data into dataframe
data_population = pd.read_excel('Resources/data.xlsx')
data_temperature = pd.read_excel('Resources/Salmon_Mean_temp_data.xlsx')

In [12]:
# Convert all values in the 'SPECIES' column to uppercase
data_population['SPECIES'] = data_population['SPECIES'].str.upper()

# Convert all values in the 'RUN_TIMING' column to uppercase
data_population['RUN_TIMING'] = data_population['RUN_TIMING'].str.upper()

In [13]:
# Drop unnecessary columns
columns_to_drop = ['CITATION', 'CONTRIBUTOR', 'DOCUMENT_CITATION', 'CODE_LINK', 'CATCH']
data_population = data_population.drop(columns=columns_to_drop)

In [14]:
# Drop rows with missing values
data_population_cleaned = data_population.dropna()

In [15]:
# Rename 'Recovery Domain' to 'Region' in PopulationData
data_population = data_population.rename(columns={'RECOVERY_DOMAIN': 'Region'})

In [16]:
# Display the cleaned population data
data_population_cleaned.head()

,SERIES,NMFS_POPID,RECOVERY_DOMAIN,ESU,MAJOR_POPULATION_GROUP,POPULATION_NAME,COMMON_POPULATION_NAME,DISPLAY_ORDER,SPECIES,RUN_TIMING,...,NUMBER_OF_SPAWNERS,FRACWILD,AGE_1_RETURNS,AGE_2_RETURNS,AGE_3_RETURNS,AGE_4_RETURNS,AGE_5_RETURNS,AGE_6_RETURNS,AGE_7_RETURNS,METHOD
0,LCchinook2020,1,Willamette/Lower Columbia,"Salmon, Chinook (Lower Columbia River ESU)",Coast fall,Big Creek,Big Ck.,1.1.3,CHINOOK SALMON,FALL,...,1096.0,0.050,-99.0,-99.0,-99.0,-99.0,-99.0,-99.0,-99.0,Survey
1,LCchinook2020,1,Willamette/Lower Columbia,"Salmon, Chinook (Lower Columbia River ESU)",Coast fall,Big Creek,Big Ck.,1.1.3,CHINOOK SALMON,FALL,...,946.0,0.000,-99.0,-99.0,-99.0,-99.0,-99.0,-99.0,-99.0,Survey
2,LCchinook2020,1,Willamette/Lower Columbia,"Salmon, Chinook (Lower Columbia River ESU)",Coast fall,Big Creek,Big Ck.,1.1.3,CHINOOK SALMON,FALL,...,2583.0,0.016,-99.0,-99.0,-99.0,-99.0,-99.0,-99.0,-99.0,Survey
3,LCchinook2020,1,Willamette/Lower Columbia,"Salmon, Chinook (Lower Columbia River ESU)",Coast fall,Big Creek,Big Ck.,1.1.3,CHINOOK SALMON,FALL,...,1279.0,0.000,-99.0,-99.0,-99.0,-99.0,-99.0,-99.0,-99.0,Survey
4,LCchinook2020,1,Willamette/Lower Columbia,"Salmon, Chinook (Lower Columbia River ESU)",Coast fall,Big Creek,Big Ck.,1.1.3,CHINOOK SALMON,FALL,...,582.0,0.077,-99.0,-99.0,-99.0,-99.0,-99.0,-99.0,-99.0,Survey

In [17]:
data_temperature_cleaned = data_temperature.rename(columns={'Date MM/DD/YYYY': 'Date'})

#drop unnecessary columns and rename others as needed
data_temperature_cleaned = data_temperature_cleaned[['Region', 'Site Name', 'Site Number', 'Daily Mean Water temp. deg. C', 'Date']]
data_temperature_cleaned.columns = ['Region', 'Site_Name', 'Site_Number', 'Daily_Mean_Water_Temp', 'Date']

In [18]:
# Display the cleaned temperature data
data_temperature_cleaned.head()

,Region,Site_Name,Site_Number,Daily_Mean_Water_Temp,Date
0,Willamette/Lower Columbia,"Willamette River at Portland, OR",14211720,5.8,2013-01-01
1,Willamette/Lower Columbia,"Willamette River at Portland, OR",14211720,5.4,2013-01-02
2,Willamette/Lower Columbia,"Willamette River at Portland, OR",14211720,4.9,2013-01-03
3,Willamette/Lower Columbia,"Willamette River at Portland, OR",14211720,4.7,2013-01-04
4,Willamette/Lower Columbia,"Willamette River at Portland, OR",14211720,4.5,2013-01-05

In [19]:
# Display the cleaned population data
print("Cleaned Population Data:")
print(data_population_cleaned.head())

# Display the cleaned temperature data
print("\nCleaned Temperature Data:")
print(data_temperature_cleaned.head())

Cleaned Population Data:
          SERIES  NMFS_POPID            RECOVERY_DOMAIN  \
0  LCchinook2020           1  Willamette/Lower Columbia
1  LCchinook2020           1  Willamette/Lower Columbia
2  LCchinook2020           1  Willamette/Lower Columbia
3  LCchinook2020           1  Willamette/Lower Columbia
4  LCchinook2020           1  Willamette/Lower Columbia

                                          ESU MAJOR_POPULATION_GROUP  \
0  Salmon, Chinook (Lower Columbia River ESU)             Coast fall
1  Salmon, Chinook (Lower Columbia River ESU)             Coast fall
2  Salmon, Chinook (Lower Columbia River ESU)             Coast fall
3  Salmon, Chinook (Lower Columbia River ESU)             Coast fall
4  Salmon, Chinook (Lower Columbia River ESU)             Coast fall

  POPULATION_NAME COMMON_POPULATION_NAME DISPLAY_ORDER         SPECIES  \
0       Big Creek                Big Ck.         1.1.3  CHINOOK SALMON
1       Big Creek                Big Ck.         1.1.3  CHINOOK SALMON
2       Big Creek                Big Ck.         1.1.3  CHINOOK SALMON
3       Big Creek                Big Ck.         1.1.3  CHINOOK SALMON
4       Big Creek                Big Ck.         1.1.3  CHINOOK SALMON

  RUN_TIMING  ... NUMBER_OF_SPAWNERS  FRACWILD  AGE_1_RETURNS  AGE_2_RETURNS  \
0       FALL  ...             1096.0     0.050          -99.0          -99.0
1       FALL  ...              946.0     0.000          -99.0          -99.0
2       FALL  ...             2583.0     0.016          -99.0          -99.0
3       FALL  ...             1279.0     0.000          -99.0          -99.0
4       FALL  ...              582.0     0.077          -99.0          -99.0

   AGE_3_RETURNS  AGE_4_RETURNS  AGE_5_RETURNS  AGE_6_RETURNS  AGE_7_RETURNS  \
0          -99.0          -99.0          -99.0          -99.0          -99.0
1          -99.0          -99.0          -99.0          -99.0          -99.0
2          -99.0          -99.0          -99.0          -99.0          -99.0
3          -99.0          -99.0          -99.0          -99.0          -99.0
4          -99.0          -99.0          -99.0          -99.0          -99.0

   METHOD
0  Survey
1  Survey
2  Survey
3  Survey
4  Survey

[5 rows x 22 columns]

Cleaned Temperature Data:
                      Region                         Site_Name  Site_Number  \
0  Willamette/Lower Columbia  Willamette River at Portland, OR     14211720
1  Willamette/Lower Columbia  Willamette River at Portland, OR     14211720
2  Willamette/Lower Columbia  Willamette River at Portland, OR     14211720
3  Willamette/Lower Columbia  Willamette River at Portland, OR     14211720
4  Willamette/Lower Columbia  Willamette River at Portland, OR     14211720

   Daily_Mean_Water_Temp       Date
0                    5.8 2013-01-01
1                    5.4 2013-01-02
2                    4.9 2013-01-03
3                    4.7 2013-01-04
4                    4.5 2013-01-05

In [20]:
# Export the cleaned population data to a CSV file
data_population_cleaned.to_csv('cleaned_population_data.csv', index=False)

# Export the cleaned temperature data to a CSV file
data_temperature_cleaned.to_csv('cleaned_temperature_data.csv', index=False)