In [19]:
import pandas as pd
import matplotlib.pyplot as plt

In [21]:
#read data into dataframe
data_population = pd.read_excel('Resources/Nicoles_population_data.xlsx')
data_temperature = pd.read_excel('Resources/Nicoles_temperature_data.xlsx')

In [24]:
print(data_population.columns) 
data_population.head(5)

Index(['SERIES', 'NMFS_POPID', 'RECOVERY_DOMAIN', 'ESU',
       'MAJOR_POPULATION_GROUP', 'POPULATION_NAME', 'COMMON_POPULATION_NAME',
       'DISPLAY_ORDER', 'SPECIES', 'RUN_TIMING', 'Species/Run', 'STREAM_NAME',
       'YEAR', 'NUMBER_OF_SPAWNERS', 'FRACWILD', 'CATCH', 'AGE_1_RETURNS',
       'AGE_2_RETURNS', 'AGE_3_RETURNS', 'AGE_4_RETURNS', 'AGE_5_RETURNS',
       'AGE_6_RETURNS', 'AGE_7_RETURNS', 'METHOD', 'CITATION', 'CONTRIBUTOR',
       'DOCUMENT_CITATION', 'CODE_LINK'],
      dtype='object')

,SERIES,NMFS_POPID,RECOVERY_DOMAIN,ESU,MAJOR_POPULATION_GROUP,POPULATION_NAME,COMMON_POPULATION_NAME,DISPLAY_ORDER,SPECIES,RUN_TIMING,...,AGE_3_RETURNS,AGE_4_RETURNS,AGE_5_RETURNS,AGE_6_RETURNS,AGE_7_RETURNS,METHOD,CITATION,CONTRIBUTOR,DOCUMENT_CITATION,CODE_LINK
0,LCchinook2020,1,Willamette/Lower Columbia,", Chinook (Lower Columbia River ESU)",Coast Fall,Big Creek,Big Ck.,1.1.3,Chinook,Fall,...,-99.0,-99.0,-99.0,-99.0,-99.0,Survey,Lower Columbia River Chinook Natural Origin Sp...,Oregon Department of Fish and Wildlife,NaN,NaN
1,LCchinook2020,1,Willamette/Lower Columbia,", Chinook (Lower Columbia River ESU)",Coast Fall,Big Creek,Big Ck.,1.1.3,Chinook,Fall,...,-99.0,-99.0,-99.0,-99.0,-99.0,Survey,Lower Columbia River Chinook Natural Origin Sp...,Oregon Department of Fish and Wildlife,NaN,NaN
2,LCchinook2020,1,Willamette/Lower Columbia,", Chinook (Lower Columbia River ESU)",Coast Fall,Big Creek,Big Ck.,1.1.3,Chinook,Fall,...,-99.0,-99.0,-99.0,-99.0,-99.0,Survey,Lower Columbia River Chinook Natural Origin Sp...,Oregon Department of Fish and Wildlife,NaN,NaN
3,LCchinook2020,1,Willamette/Lower Columbia,", Chinook (Lower Columbia River ESU)",Coast Fall,Big Creek,Big Ck.,1.1.3,Chinook,Fall,...,-99.0,-99.0,-99.0,-99.0,-99.0,Survey,Lower Columbia River Chinook Natural Origin Sp...,Oregon Department of Fish and Wildlife,NaN,NaN
4,LCchinook2020,1,Willamette/Lower Columbia,", Chinook (Lower Columbia River ESU)",Coast Fall,Big Creek,Big Ck.,1.1.3,Chinook,Fall,...,-99.0,-99.0,-99.0,-99.0,-99.0,Survey,Lower Columbia River Chinook Natural Origin Sp...,Oregon Department of Fish and Wildlife,NaN,NaN

In [25]:
print(data_temperature.columns)
data_temperature.head(5)

Index(['REGION', 'SITE NAME', 'SITE_NUMBER', 'DAILY_MEAN_WATER_TEMP', 'DATE',
       'YEAR', 'Run-Time'],
      dtype='object')

,REGION,SITE NAME,SITE_NUMBER,DAILY_MEAN_WATER_TEMP,DATE,YEAR,Run-Time
0,Willamette/Lower Columbia,"Willamette River at Portland, OR",14211720,5.8,2013-01-01,2013,Winter
1,Willamette/Lower Columbia,"Willamette River at Portland, OR",14211720,5.4,2013-01-02,2013,Winter
2,Willamette/Lower Columbia,"Willamette River at Portland, OR",14211720,4.9,2013-01-03,2013,Winter
3,Willamette/Lower Columbia,"Willamette River at Portland, OR",14211720,4.7,2013-01-04,2013,Winter
4,Willamette/Lower Columbia,"Willamette River at Portland, OR",14211720,4.5,2013-01-05,2013,Winter

In [28]:
data_population.nunique()

SERIES                      22
NMFS_POPID                 226
RECOVERY_DOMAIN              4
ESU                         17
MAJOR_POPULATION_GROUP      44
POPULATION_NAME            203
COMMON_POPULATION_NAME     168
DISPLAY_ORDER              113
SPECIES                      6
RUN_TIMING                  10
Species/Run                 18
STREAM_NAME                132
YEAR                        83
NUMBER_OF_SPAWNERS        4213
FRACWILD                  1134
CATCH                     1145
AGE_1_RETURNS               15
AGE_2_RETURNS             1258
AGE_3_RETURNS             1862
AGE_4_RETURNS             1868
AGE_5_RETURNS             1385
AGE_6_RETURNS               99
AGE_7_RETURNS               39
METHOD                       4
CITATION                   139
CONTRIBUTOR                 20
DOCUMENT_CITATION          801
CODE_LINK                    1
dtype: int64

In [27]:
data_temperature.nunique()

REGION                      3
SITE NAME                   8
SITE_NUMBER                 8
DAILY_MEAN_WATER_TEMP     255
DATE                     4017
YEAR                       11
Run-Time                    4
dtype: int64

In [29]:
# Convert all values in the 'SPECIES' column to uppercase
data_population['SPECIES'] = data_population['SPECIES'].str.upper()

# Convert all values in the 'RUN_TIMING' column to uppercase
data_population['RUN_TIMING'] = data_population['RUN_TIMING'].str.upper()

In [30]:
# Drop unnecessary columns
columns_to_drop = ['CITATION', 'CONTRIBUTOR', 'DOCUMENT_CITATION', 'CODE_LINK', 'CATCH']
data_population = data_population.drop(columns=columns_to_drop)

In [33]:
# Rename 'Recovery Domain' to 'Region' in PopulationData
data_population = data_population.rename(columns={'RECOVERY_DOMAIN': 'REGION'})

In [34]:
# Drop rows with missing values
data_population_cleaned = data_population.dropna()

In [45]:
# Rename Year
data_population_cleaned = data_population_cleaned.rename(columns={'Year': 'YEAR'})

In [46]:
data_temperature_cleaned = data_temperature.rename(columns={'Date MM/DD/YYYY': 'DATE', 'Run-Time': 'RUN_TIMING'})

In [57]:
# Convert all values in the 'RUN_TIMING' column to uppercase
data_temperature_cleaned['RUN_TIMING'] = data_temperature_cleaned['RUN_TIMING'].str.upper()

In [47]:
print(data_population_cleaned.columns)
data_population_cleaned.head()

Index(['SERIES', 'NMFS_POPID', 'REGION', 'ESU', 'MAJOR_POPULATION_GROUP',
       'POPULATION_NAME', 'COMMON_POPULATION_NAME', 'DISPLAY_ORDER', 'SPECIES',
       'RUN_TIMING', 'Species/Run', 'STREAM_NAME', 'YEAR',
       'NUMBER_OF_SPAWNERS', 'FRACWILD', 'AGE_1_RETURNS', 'AGE_2_RETURNS',
       'AGE_3_RETURNS', 'AGE_4_RETURNS', 'AGE_5_RETURNS', 'AGE_6_RETURNS',
       'AGE_7_RETURNS', 'METHOD'],
      dtype='object')

,SERIES,NMFS_POPID,REGION,ESU,MAJOR_POPULATION_GROUP,POPULATION_NAME,COMMON_POPULATION_NAME,DISPLAY_ORDER,SPECIES,RUN_TIMING,...,NUMBER_OF_SPAWNERS,FRACWILD,AGE_1_RETURNS,AGE_2_RETURNS,AGE_3_RETURNS,AGE_4_RETURNS,AGE_5_RETURNS,AGE_6_RETURNS,AGE_7_RETURNS,METHOD
0,LCchinook2020,1,Willamette/Lower Columbia,", Chinook (Lower Columbia River ESU)",Coast Fall,Big Creek,Big Ck.,1.1.3,CHINOOK,FALL,...,1096.0,0.050,-99.0,-99.0,-99.0,-99.0,-99.0,-99.0,-99.0,Survey
1,LCchinook2020,1,Willamette/Lower Columbia,", Chinook (Lower Columbia River ESU)",Coast Fall,Big Creek,Big Ck.,1.1.3,CHINOOK,FALL,...,946.0,0.000,-99.0,-99.0,-99.0,-99.0,-99.0,-99.0,-99.0,Survey
2,LCchinook2020,1,Willamette/Lower Columbia,", Chinook (Lower Columbia River ESU)",Coast Fall,Big Creek,Big Ck.,1.1.3,CHINOOK,FALL,...,2583.0,0.016,-99.0,-99.0,-99.0,-99.0,-99.0,-99.0,-99.0,Survey
3,LCchinook2020,1,Willamette/Lower Columbia,", Chinook (Lower Columbia River ESU)",Coast Fall,Big Creek,Big Ck.,1.1.3,CHINOOK,FALL,...,1279.0,0.000,-99.0,-99.0,-99.0,-99.0,-99.0,-99.0,-99.0,Survey
4,LCchinook2020,1,Willamette/Lower Columbia,", Chinook (Lower Columbia River ESU)",Coast Fall,Big Creek,Big Ck.,1.1.3,CHINOOK,FALL,...,582.0,0.077,-99.0,-99.0,-99.0,-99.0,-99.0,-99.0,-99.0,Survey

In [48]:
print(data_temperature_cleaned.columns)
data_temperature_cleaned.head()

Index(['REGION', 'SITE NAME', 'SITE_NUMBER', 'DAILY_MEAN_WATER_TEMP', 'DATE',
       'YEAR', 'RUN_TIMING'],
      dtype='object')

,REGION,SITE NAME,SITE_NUMBER,DAILY_MEAN_WATER_TEMP,DATE,YEAR,RUN_TIMING
0,Willamette/Lower Columbia,"Willamette River at Portland, OR",14211720,5.8,2013-01-01,2013,Winter
1,Willamette/Lower Columbia,"Willamette River at Portland, OR",14211720,5.4,2013-01-02,2013,Winter
2,Willamette/Lower Columbia,"Willamette River at Portland, OR",14211720,4.9,2013-01-03,2013,Winter
3,Willamette/Lower Columbia,"Willamette River at Portland, OR",14211720,4.7,2013-01-04,2013,Winter
4,Willamette/Lower Columbia,"Willamette River at Portland, OR",14211720,4.5,2013-01-05,2013,Winter

In [ ]:
# Export the cleaned population data to a CSV file
data_population_cleaned.to_csv('cleaned_population_data.csv', index=False)

# Export the cleaned temperature data to a CSV file
data_temperature_cleaned.to_csv('cleaned_temperature_data.csv', index=False)

In [61]:
# Merge the DataFrames on 'Region' and 'Year'
merged_data = pd.merge(data_population_cleaned, data_temperature_cleaned, how='inner', on=['REGION', 'YEAR', 'RUN_TIMING'])
print(merged_data.columns)
merged_data.head()

Index(['SERIES', 'NMFS_POPID', 'REGION', 'ESU', 'MAJOR_POPULATION_GROUP',
       'POPULATION_NAME', 'COMMON_POPULATION_NAME', 'DISPLAY_ORDER', 'SPECIES',
       'RUN_TIMING', 'Species/Run', 'STREAM_NAME', 'YEAR',
       'NUMBER_OF_SPAWNERS', 'FRACWILD', 'AGE_1_RETURNS', 'AGE_2_RETURNS',
       'AGE_3_RETURNS', 'AGE_4_RETURNS', 'AGE_5_RETURNS', 'AGE_6_RETURNS',
       'AGE_7_RETURNS', 'METHOD', 'SITE NAME', 'SITE_NUMBER',
       'DAILY_MEAN_WATER_TEMP', 'DATE'],
      dtype='object')

,SERIES,NMFS_POPID,REGION,ESU,MAJOR_POPULATION_GROUP,POPULATION_NAME,COMMON_POPULATION_NAME,DISPLAY_ORDER,SPECIES,RUN_TIMING,...,AGE_3_RETURNS,AGE_4_RETURNS,AGE_5_RETURNS,AGE_6_RETURNS,AGE_7_RETURNS,METHOD,SITE NAME,SITE_NUMBER,DAILY_MEAN_WATER_TEMP,DATE
0,LCchinook2020,1,Willamette/Lower Columbia,", Chinook (Lower Columbia River ESU)",Coast Fall,Big Creek,Big Ck.,1.1.3,CHINOOK,FALL,...,-99.0,-99.0,-99.0,-99.0,-99.0,Survey,"Willamette River at Portland, OR",14211720,22.0,2013-08-26
1,LCchinook2020,1,Willamette/Lower Columbia,", Chinook (Lower Columbia River ESU)",Coast Fall,Big Creek,Big Ck.,1.1.3,CHINOOK,FALL,...,-99.0,-99.0,-99.0,-99.0,-99.0,Survey,"Willamette River at Portland, OR",14211720,21.9,2013-08-27
2,LCchinook2020,1,Willamette/Lower Columbia,", Chinook (Lower Columbia River ESU)",Coast Fall,Big Creek,Big Ck.,1.1.3,CHINOOK,FALL,...,-99.0,-99.0,-99.0,-99.0,-99.0,Survey,"Willamette River at Portland, OR",14211720,22.0,2013-08-28
3,LCchinook2020,1,Willamette/Lower Columbia,", Chinook (Lower Columbia River ESU)",Coast Fall,Big Creek,Big Ck.,1.1.3,CHINOOK,FALL,...,-99.0,-99.0,-99.0,-99.0,-99.0,Survey,"Willamette River at Portland, OR",14211720,21.8,2013-08-29
4,LCchinook2020,1,Willamette/Lower Columbia,", Chinook (Lower Columbia River ESU)",Coast Fall,Big Creek,Big Ck.,1.1.3,CHINOOK,FALL,...,-99.0,-99.0,-99.0,-99.0,-99.0,Survey,"Willamette River at Portland, OR",14211720,21.7,2013-08-30

In [60]:
#Check number of rows 
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 221609 entries, 0 to 221608
Data columns (total 27 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   SERIES                  221609 non-null  object
 1   NMFS_POPID              221609 non-null  int64
 2   REGION                  221609 non-null  object
 3   ESU                     221609 non-null  object
 4   MAJOR_POPULATION_GROUP  221609 non-null  object
 5   POPULATION_NAME         221609 non-null  object
 6   COMMON_POPULATION_NAME  221609 non-null  object
 7   DISPLAY_ORDER           221609 non-null  object
 8   SPECIES                 221609 non-null  object
 9   RUN_TIMING              221609 non-null  object
 10  Species/Run             221609 non-null  object
 11  STREAM_NAME             221609 non-null  object
 12  YEAR                    221609 non-null  int64
 13  NUMBER_OF_SPAWNERS      221609 non-null  float64
 14  FRACWILD                221609 non-null  float64
 15  AGE_1_RETURNS           221609 non-null  float64
 16  AGE_2_RETURNS           221609 non-null  float64
 17  AGE_3_RETURNS           221609 non-null  float64
 18  AGE_4_RETURNS           221609 non-null  float64
 19  AGE_5_RETURNS           221609 non-null  float64
 20  AGE_6_RETURNS           221609 non-null  float64
 21  AGE_7_RETURNS           221609 non-null  float64
 22  METHOD                  221609 non-null  object
 23  SITE NAME               221609 non-null  object
 24  SITE_NUMBER             221609 non-null  int64
 25  DAILY_MEAN_WATER_TEMP   221493 non-null  float64
 26  DATE                    221609 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(10), int64(3), object(13)
memory usage: 45.7+ MB

Statistical Breakdown

In [62]:
merged_data['YEAR'].unique()

array([2013, 2014, 2017, 2016, 2018, 2015, 2019])

In [63]:
merged_data['REGION'].unique()

array(['Willamette/Lower Columbia', 'Interior Columbia', 'Oregon Coast'],
      dtype=object)

In [64]:
merged_data['RUN_TIMING'].unique()

array(['FALL', 'SPRING', 'SUMMER', 'WINTER'], dtype=object)

In [ ]:
# Group by 'Region' and calculate summary statistics for both 'DAILY_MEAN_WATER_TEMP' and 'NUMBER_OF_SPAWNERS'
region_statistics = merged_data.groupby('REGION').agg({
    'DAILY_MEAN_WATER_TEMP': ['mean', 'median', 'min', 'max', 'std'],
    'NUMBER_OF_SPAWNERS': ['mean', 'median', 'min', 'max', 'std']
}).reset_index()

region_statistics

                      REGION DAILY_MEAN_WATER_TEMP                             \
                                              mean median           min   max
0          Interior Columbia          1.086872e+01    9.0  1.000000e+00  23.2
1               Oregon Coast          6.737774e+00    6.9  0.000000e+00  12.2
2  Willamette/Lower Columbia         -5.129680e+20    9.2 -1.234560e+25  26.2

                NUMBER_OF_SPAWNERS
            std               mean  median  min      max          std
0  5.718667e+00         705.980208   450.0  0.0   6603.0   859.418540
1  2.292712e+00        5139.295302  2682.0  0.0  41660.0  7715.216054
2  7.957840e+22        2208.562430   984.0  0.0  31138.0  3415.528227

In [ ]:
# Group by 'Year' and calculate summary statistics for both 'DAILY_MEAN_WATER_TEMP' and 'NUMBER_OF_SPAWNERS'
yearly_statistics = merged_data.groupby('YEAR').agg({
    'DAILY_MEAN_WATER_TEMP': ['mean', 'median', 'min', 'max', 'std'],
    'NUMBER_OF_SPAWNERS': ['mean', 'median', 'min', 'max', 'std']
}).reset_index()

yearly_statistics

   YEAR DAILY_MEAN_WATER_TEMP                                           \
                         mean median           min   max           std
0  2013          9.263138e+00    7.7  0.000000e+00  23.6  4.997163e+00
1  2014          1.006765e+01    8.9  1.600000e+00  24.2  4.616218e+00
2  2015          1.069715e+01    9.3  1.500000e+00  26.2  5.503382e+00
3  2016          1.031133e+01    9.0  2.900000e+00  23.8  4.789628e+00
4  2017          9.469236e+00    8.2  1.000000e+00  24.6  4.845753e+00
5  2018          9.907695e+00    8.1  2.700000e+00  24.8  4.799133e+00
6  2019         -3.352050e+21    7.4 -1.234560e+25  23.8  2.034099e+23

  NUMBER_OF_SPAWNERS
                mean  median   min      max          std
0        2034.738830   972.0  16.0  23785.0  3165.520069
1        3595.658800  1127.0   8.0  41660.0  7513.450767
2        1940.511320   989.0   0.0  18635.0  2724.255222
3        1995.919521   824.0   0.0  31138.0  3624.427214
4        1204.557011   512.0   0.0  10848.0  1771.203781
5        1444.905398   466.0  10.0  16221.0  2589.662516
6         389.680152   146.0   0.0   2449.0   595.734779

In [ ]:
# Group by 'Year' and calculate summary statistics for both 'DAILY_MEAN_WATER_TEMP' and 'NUMBER_OF_SPAWNERS'
season_statistics = merged_data.groupby('RUN_TIMING').agg({
    'DAILY_MEAN_WATER_TEMP': ['mean', 'median', 'min', 'max', 'std'],
    'NUMBER_OF_SPAWNERS': ['mean', 'median', 'min', 'max', 'std']
}).reset_index()

season_statistics

  RUN_TIMING DAILY_MEAN_WATER_TEMP                                           \
                              mean median           min   max           std
0       FALL          8.312033e+00    7.9  0.000000e+00  17.9  3.394783e+00
1  LATE FALL         -1.556822e+22   17.6 -1.234560e+25  24.8  4.382207e+23
2     SPRING          8.813127e+00    8.7  2.000000e+00  18.9  3.389407e+00
3     SUMMER          1.483353e+01   16.7  5.200000e+00  26.2  5.859902e+00
4     WINTER          6.181695e+00    6.2  1.000000e+00   9.9  1.573780e+00

  NUMBER_OF_SPAWNERS
                mean  median    min      max          std
0        3753.420505  1754.0    0.0  41660.0  5994.529441
1        7062.846154  4347.0  565.0  20489.0  6834.525810
2         802.242424   275.0    0.0  14981.0  1556.419211
3        1046.502092   667.0   29.0   6603.0  1014.326761
4        1042.339098   586.0    7.0   6539.0  1316.445673